*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

body{
	font-family: "Poppins", sans-serif;
}

.table{
	display:flex;
	height:100vh;
	margin:auto;
	background:#F8FBDC;
}

.picture img{
	margin-top:35px;
	flex-basis:50%;
	height:500px;
}

.content{
	flex-basis:50%;
	padding-top:100px;
}

.content h1{
	margin-top:35px;
	margin-bottom:20px;
	font-size:35px;
	font-weight:300;
}

.content p{
	margin-top:35px;
	margin-bottom:20px;
}

.content button{
	font-size:20px;
	padding:10px;
	background:#8BBC7F;
	border:0px;
	border-radius:5px;
	color:#ffffff;
}

.content span{
	color:#8BBC7F;
	font-weight:800;
}