*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: "Lora", serif;
}

.table{
    width: 1144px;
    height: 100vh;
    margin: auto;
}

.sec-1{
    text-align: center;
}

.sec-1 h6{
    font-size: 30px;
    font-weight: 300;
    color: #00D1F9;
    margin-top: 30px;
}

.sec-1 h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.sec-2{
    display: flex;
}

.col-1, .col-2, .col-3{
    width: 33.33%;
    height: 550px;
}

/* Left Column */

.row-1, .row-2, .row-3{
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    text-align: right;
    height: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.row-1 h2, .row-2 h2, .row-3 h2{
    margin: 7px;
}

.row-1 p, .row-2 p, .row-3 p{
    margin: 5px 7px 10px 30px;
    font-size: 15px;
}

.row-1 i, .row-2 i, .row-3 i{
    font-size: 30px;
    color: white;
    margin: 15px 8px 15px 8px;
    background-color: #00D1F9;
    border-radius: 50% 50%;
    padding: 15px;
}

/* Middle Column */

.col-2 img{
    height: 500px;
    width: 383px;
}

/* Right Column */

.row-4, .row-5, .row-6{
    display: flex;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    text-align: left;
    height: 25%;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.row-4 h2, .row-5 h2, .row-6 h2{
    margin: 7px;
}

.row-4 p, .row-5 p, .row-6 p{
    margin: 5px 30px 10px 7px;
    font-size: 15px;
}

.row-4 i, .row-5 i, .row-6 i{
    font-size: 30px;
    color: white;
    margin: 15px 8px 15px 8px;
    background-color: #00D1F9;
    border-radius: 50% 50%;
    padding: 15px;
}